.container {
    padding: 30px;
}

.categorias{
    align-items: center;
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: auto auto;
    gap: 10px;
}

.category-input{
    grid-column: 1;
    grid-row: 2;
}

.category-btn{
    grid-column: 1;
    grid-row: 3;
}

.añadir{
    background-color: rgb(68, 201, 68) !important;
}

.añadir:hover{
    color: white !important;
    background-color: green !important;
}

.mostrar{
    background-color: rgb(209, 207, 72) !important;
}

.mostrar:hover{
    background-color: rgb(168, 168, 55) !important;
    color: white !important;
}

.titulo-producto{
    grid-column: 1/3;
}

.productos{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: auto auto ;
    gap: 10px;
}

.product-input{
    grid-column: 1/ 3;
    grid-row: 2;
}

.product-btn{
    grid-column: 1/3;
    grid-row: 3;
}

#listaProductos{
    grid-column: 1/3;
    grid-row: 5;
}
.eliminar{
    background-color: rgb(250, 82, 82) !important;
}

.eliminar:hover{
    color: white !important;
    background-color: rgb(180, 11, 11) !important;
}

.venta{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.venta-input{
    grid-column: 1/ 3;
    grid-row: 2;
}

.btn-vender{
    background-color: rgb(106, 165, 219) !important;
    grid-row: 3;
    width: 30%;
}

.btn-vender:hover{
    background-color: royalblue !important;
    color: white !important;
}